.search-form {
  /*outline: 1px solid black; */
  margin:auto;
  height:25%;
  width: 66%; 
  padding-top:20px;
}
.search-form input {
  height:40px;
  padding:4px;
  padding-left:12px;
  margin:4px;
  background-color:#fff;
  border-radius:10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  animation: searchBarGrowth 0.8s 1;
}
.search-form i {
  font-size:52px;
  padding:8px;
  border-radius:5%;
}
.search-button {
  font-size:64px;
  cursor: pointer;
}

.search-icon {
  margin-top:60px;
  cursor: pointer;
}

@keyframes searchBarGrowth {
  from {width:0}
  to {width:25%}
}

